<div class="navbar_container">
    <div class="user_section">
        <div class="profile_image">
            <img src="../../assets/walidelbir.jpg" alt="image placeholder">
        </div>
        <div class="user_info">Walid Elbir</div>
    </div>
    <div class="menu">
        <div class="container days_off">
            <button pButton pRipple label="Days Off" class="button"></button>
        </div>
        <div class="container project_tasks">
            <button pButton pRipple label="Project Tasks" class="button"></button>
        </div>
        <div class="container personal_tasks">
            <button pButton pRipple label="Personal Tasks" class="button"></button>
        </div>
        <div class="container logout">
            <button pButton pRipple label="logout" class="button"></button>
        </div>
    </div>
</div>
